@media screen and (min-width: 700px) {
  .genres-container {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 5rem;
  }
  .genre-link {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: #1e1e26;
    background-color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .genre-link.active {
    background-color: #f03a47;
    color: white;
  }
  .genre-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .genre-search-item {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
    background: #f03a47;
    color: #fafafa;
    width: 15%;
    border-radius: 3rem;
    cursor: pointer;
  }
  .genre-search-item:hover {
    background: #cc2936;
  }
  .button-container {
    height: 5rem;
    display: flex;
    margin: 1rem 8rem;
    justify-content: center;
  }

  .load-button {
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 0.3rem;
    background-color: #f03a47;

    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    cursor: pointer;
  }
  .load-button:hover {
    opacity: 0.9;
  }
}
