@media screen and (min-width: 700px) {
  .container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 4rem;
  }
  .item-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  .item-list {
    width: 40rem;
    height: 28rem;

    display: flex;
    gap: 1rem;
    margin: 2rem 1rem;
  }
  .item-img {
    width: 18rem;

    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    gap: 0.5rem;
  }
  .item-title {
    font-size: 2.2rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: white;
  }
  .item-date {
    font-family: "Poppins", sans-serif;
    color: #ffffff80;
    font-style: italic;
    font-size: 1.4rem;
  }
  .delete-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    background-color: #f03a47;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .delete-btn:hover {
    opacity: 0.9;
  }
  .platforms-availables {
    color: white;
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
