@media screen and (min-width: 700px) {
  .movie-trailer-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
    background-color: #00000090;
  }
  .movie-trailer-container::-webkit-scrollbar {
    display: none;
  }
  .movie-trailer-content {
    width: 97rem;
    height: 57rem;
    background: #030b17;
    position: relative;
    z-index: 999;
    margin-top: 0.5rem;
  }
  .movie-trailer-tag {
    font-size: 2.6rem;
    color: #fff;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin: 1rem 2rem;
  }
  .movie-content-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem 2rem 0;
  }
  .movie-content-exit {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
  }
  .movie-content-exit:hover {
    background: #030b17;
    filter: brightness(1.8);
  }
}
